{{!< default}}
<div class="container-fluid">
  <div class="row">

    <div class="col-xs-offset-2 col-xs-8">
      <div class="common-gallery-post">
        {{#post}}
          <h2>{{title}}</h2>
          {{content}}
        {{/post}}
      </div>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
      <div class="common-gallery-post text-right">
        <h2>Servicios Coworking</h2>
        <ul>
          {{#get "posts" filter="tag:coworking-servicios"}}
            {{#foreach posts}}
              <li type="disc">{{title}}</li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
      <img src="{{asset "static/icono_coworking.png"}}" class="img-circle">
    </div>  

    <div class="col-xs-offset-2 col-xs-8">
      <div class="common-gallery-post text-left">
        <h2>Beneficios</h2>
        <ul class="text-left">
          {{#get "posts" filter="tag:coworking-beneficios"}}
            {{#foreach posts}}
              <li type="disc">{{title}}</li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
    </div>

    <div class="col-xs-offset-2 col-xs-8">
      <div class="common-gallery-post">
        {{#get "posts" filter="slug:coworking-paquetes" as |item|}}
          {{> "common-gallery-post" item=item}}
        {{/get}}
        <div class="responsive-carousel">
          {{#get "posts" filter="tag:coworking-paquetes" as |items|}}
            {{#foreach items}}
              <div class="item">
                <h5><strong>{{title}}</strong></h5>
                <fieldset>
                  <legend><img src="{{asset "static/icono_paquete_villonaco.png"}}"></legend>
                  <h2>{{meta_title}}</h2>
                  <div class="text-justify">{{content}}</div>
                </fieldset>
              </div>
            {{/foreach}}
          {{/get}}
        </div>
      </div>
    </div>

    <div class="post-gallery col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
      {{#get "posts" filter="slug:coworking-galeria" as |item|}}
        {{> "common-gallery-post" item=item}}
      {{/get}}
      <div class="responsive-carousel">
        {{#get "posts" filter="tag:coworking-galeria" as |items|}}
          {{> "carousel-items" items=items}}
        {{/get}}
      </div>
    </div>
  </div>
</div>
