{{!< default}}
<div class="container">
  <div class="blog row align-spaced align-top">
    <section class="blog-articles col-sm-8 col-md-7">
      {{#post}}
        {{#has tag="blog"}}
          <div class="custom-breadcrumb align-middle text-left">
            {{#foreach tags}}
              {{#if @first}}
              <li>
                <div class="align-middle">
                  <img src="{{asset "static/ico_blog.png"}}">
                  <a href="/tag/{{slug}}/"><h3>{{name}}</h3></a>
                </div>
              </li>
              {{else}}
              <li>
                <div class="align-middle">
                  <img src="{{asset "static/ico_nav_blog.png"}}">
                  <a href="/tag/{{slug}}/"><h3>{{name}}</h3></a>
                </div>
              </li>
              {{/if}}
            {{/foreach}}
          </div>
        {{/has}}
          <article class="post text-left">
            <h2 class="post-title no-hover">{{title}}</h2>
            <p class="post-date"><time date-time="{{date format='MMMM DD, YYYY'}}">{{date format="MMMM DD, YYYY"}}</time> / by: {{author}}</p>
            <div class="post-image no-hover" style="{{#if image}}background-image:url({{image}});{{else}}background-color:#15A1E0;{{/if}}" ></div>
            <div class="social-networks">
              {{> "social-networks"}}
            </div>
            <div class="post-excerpt">{{content}}</div>
          </article>
      {{/post}}
    </section>

    <section class="blog-sidebar col-sm-4 col-md-4">
      <div class="blog-sidebar-categories">
        {{> "categorias"}}
      </div>
      <div class="blog-sidebar-recentPost">
        {{> "post"}}
      </div>
    </section>

  </div>
</div>
