
{{#get "posts" order="published_at desc"  page=pagination.page limit=@blog.posts_per_page  filter="tag:{{tag.slug}}" include="author" as |item|}}
  {{#foreach item}}
    <article class="post">
      <a href="{{url}}"><h2 class="post-title">{{title}}</h2></a>
      <p class="post-date"><time date-time="{{date format='MMMM DD, YYYY'}}">{{date format="MMMM DD, YYYY"}}</time> / by: {{author}}</p>
      <a href="{{url}}"><div class="post-image" style="{{#if image}}background-image:url({{image}});{{else}}background-color:#15A1E0;{{/if}}" ></div></a>
      <div class="post-excerpt align-right">{{excerpt}} ...</div>
    </article>
  {{/foreach}}
{{/get}}
