<div class="coworkingPackage item">
  <h4 class="coworkingPackage-title">{{title}}</h4>
  <fieldset class="coworkingPackage-content">
    <div class="coworkingPackage-image"><img src="{{image}}" alt="{{title}}"></div>
    <h2 class="coworkingPackage-price">{{meta_title}}</h2>
    <div class="coworkingPackage-list text-left">{{content}}</div>
  </fieldset>
</div>
