<div class="footer-gray-section-wrapper row">
  <div class="footer-gray-section col-xs-10 col-xs-offset-1">
    <div class="footer-brand-logo">
      <img src="{{@blog.logo}}" class="img-responsive" alt="" />
    </div>
    <div class="social-networks">
      <img src="{{asset "static/icono_face.png"}}">
      <img src="{{asset "static/icono_rss.png"}}">
      <img src="{{asset "static/icono_twitter.png"}}">
    </div>

    {{navigation}}

    <div class="license">
      <p>
        <a href="#">prendho</a>
        está distribuido bajo una
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>
      </p>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
        </a>
      </p>
    </div>

    <div class="signature">
      <p class="text-right">
        <a href="http://noggalito.com" target="_blank">powered by noggalito</a>
      </p>
    </div>
  </div>
</div>
