<fieldset>
  <legend class="text-left"><h3>Recent Post</h3></legend>
  {{#get "posts" order="published_at desc" filter="tag:post" limit="3"}}
    {{#foreach posts}}
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          {{#if image}}
            <a href="{{image}}" class="thumbnail">
              <img src="{{image}}" width="100%">
            </a>
          {{/if}}
        </div>
        <div class="col-xs-6 col-sm-9 text-justify">
          <a href="{{url}}">"{{title}}"</a>
          <p>{{excerpt words="20"}} ...</p>
        </div>
      </div>
    {{/foreach}}
  {{/get}}
</fieldset>
